ansible
ansible-core
attrs
bcrypt
certifi
cffi
charset-normalizer
cryptography
distro
docker
docker-compose
dockerpty
docopt
idna
Jinja2
jsonschema
MarkupSafe
packaging
paramiko
pycparser
PyNaCl
pyrsistent
python-dotenv
PyYAML
requests
resolvelib
six
texttable
urllib3
websocket-client
